body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; 
}


button {
  background-color: #e0e0e0; 
  color: #333; 
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, border 0.3s;
}

button:hover {
  background-color: #d5d5d5;
  border-color: #bbb; 
}


.button-container,
.today-container,
.date-range-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-range-container {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}


#left-panel {
  width: 10%; 
  background-color: #8fe4e4;
  padding: 10px;
  color: #333;
  font-size: 18px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  gap: 15px; 
}

#left-panel button {
  background-color: #f0f0f0; 
  color: #333;
  border: 1px solid #ccc; 
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  width: 75%; 
  text-align: left; 
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s;

}

#left-panel button:hover {
  background-color: #e0e0e0;
  border-color: #bbb; 
}


#header {
  height: 10%;
  background-color: #ffffff; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
}

#app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#main-container {
  display: flex;
  width: 100%;
}


#calendar {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.time-column,
.day-column {
  width: 12%;
  text-align: center;
  padding: 10px;
  background-color: #f9f9f9; 
  border-right: 1px solid #ddd; 
}

.time-row {
  display: flex;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid #ddd; 
}

.time {
  width: 10%;
  text-align: center;
  background-color: #f4f4f4;
  color: #333;
  padding: 10px;
  border-right: 1px solid #ddd;
}


.week-header {
  display: flex;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.day {
  width: 14%;
  padding: 10px;
  background-color: #f9f9f9; 
  color: #333;
  border-radius: 5px;
}

.date-range-container button, .go-to-next-week-button {
  height: 30px; 
  padding: 10px; 
  border-radius: 5px;
  font-size: 16px;
  background-color: #f0f0f0; 
  color: #333;
  border: 1px solid #ccc; 
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
}


.date-range-container button:hover, .go-to-next-week-button:hover {
  background-color: #e0e0e0;
  border-color: #bbb;
}
